* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}
body #generationSection {
  display: none;
}
body #functions {
  display: none;
}
body #playerTwoField {
  display: none;
}
body #secondPlayerMaxes {
  display: none;
}
body table {
  border: none;
  width: auto;
  margin: 0 auto;
}
body table tr {
  border: none;
}
body table tr:not(:last-child) {
  border-bottom: 1px solid #535c68;
}
body table tr td, body table tr th {
  padding: 0.7rem;
}
body table tr td:last-child, body table tr th:last-child {
  border-right: none;
}
body table thead th {
  border-bottom: 1px solid #535c68;
}
body table thead th:not(:first-child) {
  border-left: 1px solid #535c68;
}
body table tbody th, body table tfoot th {
  border-bottom: none;
  border-right: 1px solid #535c68;
}
body table tbody td:not(:last-child), body table tfoot td:not(:last-child) {
  border-right: 1px solid #535c68;
}
body table th {
  text-align: center;
}
body table tfoot tr {
  border-top: 1px solid #535c68;
  border-bottom: none;
}
body table td input, body table th input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  text-align: center;
  background: #f5f6fa;
  margin: 0 auto;
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 3rem;
  -webkit-box-shadow: 0 0 0 0.2rem #bdc3c7;
          box-shadow: 0 0 0 0.2rem #bdc3c7;
}
body table td input[disabled], body table th input[disabled] {
  cursor: pointer;
  background: #ced6e0;
}
body table td input:focus, body table th input:focus {
  background: #dff9fb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 121, 121, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(255, 121, 121, 0.4);
}
body .checked {
  background: #a29bfe;
}
body .guessed {
  background: #f6e58d;
}
body .correct {
  background: #1dd1a1;
}
body .wrong {
  background: #ff7979;
}
body footer {
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
}
